[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy-bootstrap4 = "*"
django-tinymce = "*"
django-countries = "*"
django = "==4.2.*"
django-excel-response = "*"

[dev-packages]

[requires]
python_version = "3.11"
