{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18"></h4>

                     
                        
                    </div>
                </div>
            </div> 
            <!---->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ vacancy.title }}</h4>
                        <p class="card-subtitle mb-4">{{ vacancy.ref }}</p>
                        
                        <div class="d-flex justify-content-center">
                            <section class="text-white bg-primary text-center col-12 col-md-8">
                                <div class="row">
                                    <div class="col-4 text-white">
                                        <h6 class="text-white mt-4 mb-4"><b>Posting Date:</b> {{ vacancy.date_open }}</h6>
                                    </div>
                                    <div class="col-4 text-white">
                                        <h6 class="text-white mt-4 mb-4"><b>Discipline: </b> {{ vacancy.job_discipline }}</h6>
                                    </div>
                                    <div class="col-4 text-white">
                                        <h6 class="text-white mt-4 mb-4"><b>Apply Before: {{ vacancy.date_close }}</b> </h6>
                                    </div>
                                </div>
                            </section>
                            
                        </div>
                        <h4 class="card-title mt-4">Job Description</h4>
                        <p>{{ vacancy.description }}</p>
                        <hr>
                        <h4 class="card-title mt-4">Job Responsibilities</h4>
                        <p>{{ vacancy.position_responsibilities }}</p>
                        <hr>
                        <h4 class="card-title mt-4">Vacant Positions</h4>
                        <p>{{ vacancy.posts_needed }}</p>
                        <h4 class="card-title mt-4">Educational Level</h4>
                        <p>{{ vacancy.min_educational_level }}</p>
                        <h4 class="card-title mt-4">Minimum Work experience</h4>
                        <p>{{ vacancy.min_work_experience }} years</p>
                        <h4 class="card-title mt-4">Nature of Job</h4>
                        <p>{{ vacancy.vacancy_type }}</p>

                        <div class="mt-4">
                            <h4 class="card-title">Share This Job</h4>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                                target="_blank" class="btn btn-facebook">
                                <i class="fab fa-facebook"></i> Share on Facebook
                            </a>
                            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=Check out this amazing vacancy at {{ request.build_absolute_uri }}. Title: {{ vacancy.title }} - Description: {{ vacancy.description }}"
                                target="_blank" class="btn btn-twitter">
                                <i class="fab fa-twitter"></i> Share on Twitter
                            </a>
                            <a href="https://api.whatsapp.com/send?text=Check out this amazing vacancy at {{ request.build_absolute_uri }}. Title: {{ vacancy.title }} - Description: {{ vacancy.description }}%0AApply now: {{ request.build_absolute_uri }}"
                                target="_blank" class="btn btn-whatsapp">
                                <i class="fab fa-whatsapp"></i> Share on WhatsApp
                            </a>
                            <a href="mailto:?subject=Check out this amazing job vacancy at {{ request.build_absolute_uri }}&body=I found this amazing job vacancy and thought you might be interested.%0A%0AJob Title: {{ vacancy.title }}%0ADescription: {{ vacancy.description }}"
                                target="_blank" class="btn btn-email">
                                <i class="far fa-envelope"></i> Share via Email
                            </a>
                        </div>
                    
                    </div>  <div class="text-center">
                        {% if user_accepted_terms.accepted %}
                        <a href="{% url 'users:terms_acceptance' vacancy_id=vacancy.id %}">  <i class="fas btn-primary active fa-check-square"> </i></a><a href="{% url 'main:terms' %}">Terms and Conditions Accepted</a>
                        {%else%}
                        <a href="{% url 'users:terms_acceptance' vacancy_id=vacancy.id %}" > <i class="btn btn-danger active far fa-square"></i> </a><a href="{% url 'main:terms' %}"> Accept Terms and Conditions</a>
                        {%endif%}
                       
                    </div>
                    
                    
                    <div class="text-center mt-2 mb-2">
                        {% if user_accepted_terms.accepted %}
                        <a href="{% url 'vacancies:apply' vacancy_id=vacancy.id %}" class="btn btn-lg btn-primary active">Apply this Job</a>
                        {% else %}
                        <button class="btn btn-lg btn-primary" disabled>
                            Apply this Job
                        </button>
                        <small class="form-text text-muted">Accept terms and conditions to apply</small>
                        
                        {% endif %}
                    </div>
                        
                    </div>
             
            </div>
            
        </div>
    </div>
{% endblock content %}
