{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 100px !important;">
    <div class="col-12 mt-4">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Dashboard/Applications</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'hr:dashboard' %}">Dashboard/</a> <a href="{% url 'hr:applications' %}">Applications</a></li>
                </ol>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
    
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Search Form -->
                        <div class="row mb-3">
                            <div class="col-md-10 mx-auto">
                                <section class="col-md-12 mx-auto shadow-sm text-center border-radius-10 p-4" style="background-color: #7266BB;">
                                    <form method="get" class="d-flex justify-content-center">
                                        <input type="text" name="search" class="form-control mx-2" placeholder="Search By Keyword or Job Title" style="max-width: 200px;">
                                        <select name="job_type" class="form-control mx-2" style="max-width: 200px;">
                                            <option value="">Select Job Type</option>
                                            {% for job_type in job_types %}
                                                <option value="{{ job_type.id }}" {% if selected_job_type == job_type.id %}selected{% endif %}>
                                                    {{ job_type.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <select name="vacancy_type" class="form-control mx-2" style="max-width: 200px;">
                                            <option value="">Select Job Type</option>
                                            {% for vacancy_type, job_type_display in vacancy_types %}
                                                <option value="{{ vacancy_type }}" {% if selected_job_type == vacancy_type %}selected{% endif %}>
                                                    {{ job_type_display }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn mx-2" style="background-color: #490ca6; color: #fff;">Search</button>
                                        <a href="{% url 'hr:applications' %}" class="btn mx-2" style="background-color: #fd7e14; color: #fff;">Reset</a>
                                    </form>
                                </section>
                            </div>
                        </div>
                        
                        {% if jobs %}
                            <div class="table-responsive mt-3">
                                <!-- Job Vacancies Table -->
                                <table class="table table-sm table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>Position</th>
                                            <th>Date Open</th>
                                            <th>Date Close</th>
                                            <th>Category</th>
                                            <th>Type</th>
                                            <th>Applications</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Loop through job vacancies -->
                                        {% for job in jobs %}
                                            <tr>
                                                <td><a href="{% url 'hr:application_detail' job.id %}">
                                                    {{ job.title }}
                                                </a></td>
                                                <td>{{ job.date_open }}</td>
                                                <td>{{ job.date_close }}</td>
                                                <td>{{ job.job_discipline }}</td>
                                                <td>{{ job.job_type }}</td>
                                                <td>{{ job.application_count }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p class="text-center">No jobs available at the moment.</p>
                        {% endif %}
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!--end row-->
    </div>
</div>
{% endblock content %}
