{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="page-content">
    <div class="container-fluid">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Kengen</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                        <li class="breadcrumb-item active">Application Reports</li>
                    </ol>
                </div>
                
            </div>
        </div>
      
        
        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title mb-4">This Graph shows all the applications made through the system, those that qualify and those that have been shortlisted</h4>
                        <canvas id="barChart"></canvas>

                       

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">This Graph shows vacancy positions created with the applications made in each</h4>
                        <canvas id="barChartv"></canvas>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row-->

      


        
    </div>
</div>
{% endblock content %}

