{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Classes Attained</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Careers</a></li>
                            <li class="breadcrumb-item active">Classes Attained</li>
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div>     
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        {% if classes %}
                            <div class="list-group">
                                <!-- Loop through educational levels -->
                                {% for class in classes %}
                                   
                                       
                                        <ul class="list-group">
                                            <li class="list-group-item"> {{ class.name }}</li>
                                           
                                          </ul>
                                   
                                {% endfor %}
                            </div>
                        {% else %}
                            <p class="text-center">No Classes Available</p>
                        {% endif %}
                        <div class="text-center mt-3">
                            <a href="{% url 'hr:create_class' %}" class="btn btn-primary">Add New Class</a>
                            
                        </div>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
       <!--end row-->
    </div>
</div>
{% endblock content %}
