{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Kengen</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Vacancy</a></li>
                            <li class="breadcrumb-item active">Create Vacancy</li>
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div>     
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-2">Add Vacancy</h2>

                        <div>
                            {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success alert-dismissible" role="alert">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{ message|safe|escape }}
                                    </div>
                                {% elif message.tags == 'error' %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{ message|safe }}
                                    </div>
                                {% elif message.tags == 'info' %}
                                    <div class="alert alert-info alert-dismissible" role="alert">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{ message|safe|escape }}
                                    </div>
                                {% elif message.tags == 'warning' %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        {{ message|safe|escape }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                        <form method="post" enctype="multipart/form-data" class="mt-2">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="{{ form.vacancy_title.id_for_label }}" class="col-sm-2 col-form-label text-right">Vacancy Title:</label>
                                <div class="col-sm-10">
                                    {{ form.title|as_crispy_field }}
                                </div>
                               
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.vacancy_title.id_for_label }}" class="col-sm-2 col-form-label text-right">Job Ref No:</label>
    
                                <div class="col-sm-10">
                                    {{ form.ref|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.job_type.id_for_label }}" class="col-sm-2 col-form-label text-right">Nature of Job:</label>
                                <div class="col-sm-10">
                                    {{ form.vacancy_type|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.job_type.id_for_label }}" class="col-sm-2 col-form-label text-right">Vacancy Type:</label>
                                <div class="col-sm-10">
                                    {{ form.job_discipline|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.job_summary.id_for_label }}" class="col-sm-2 col-form-label text-right">Job Summery</label>
                                <div class="col-sm-10">
                                    {{ form.description|as_crispy_field }}
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label for="{{ form.job_description.id_for_label }}" class="col-sm-2 col-form-label text-right">Job Description</label>
                                <div class="col-sm-10">
                                    {{ form.position_responsibilities|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.posts_needed.id_for_label }}" class="col-sm-2 col-form-label text-right">About Post</label>
                                <div class="col-sm-5">
                                    {{ form.posts_needed|as_crispy_field }}
                                </div>
                                <div class="col-sm-5">
                                    {{ form.reports_to|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.date_open.id_for_label }}" class="col-sm-2 col-form-label text-right">Duration</label>
                                <div class="col-sm-5">
                                    {{ form.date_open|as_crispy_field }}
                                </div>
                                <div class="col-sm-5">
                                    {{ form.date_close|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.date_open.id_for_label }}" class="col-sm-2 col-form-label text-right">Requirements</label>
                                <div class="col-sm-5">
                                    {{ form.min_educational_level|as_crispy_field }}
                                </div>
                                <div class="col-sm-5">
                                    {{ form.min_work_experience|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group-row text-center">
                                <div class="h2">Optional Requirements</div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.date_open.id_for_label }}" class="col-sm-2 col-form-label text-right">Set Requirements</label>
                                <div class="col-sm-3">
                                    {{ form.certifications_required|as_crispy_field }}
                                </div>
                                <div class="col-sm-3">
                                    {{ form.college_required|as_crispy_field }}
                                </div>
                                <div class="col-sm-3 mb-2">
                                    {{ form.membership_required|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-group row text-center">
                                <div class="col-sm-12 offset-sm-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                   
                                    <a href="{% url 'hr:jobs' %}" class="btn btn-primary ml-2">Cancel</a>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        
       <!--end row-->
    </div>
</div>
{% endblock content %}
