{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 100px !important;">
        <div class="col-12 mt-4">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Dashboard/Users/{% if reg %} Update {{reg.username}} Details{% else %}Create{%endif%}</h4>
    
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'hr:dashboard' %}">Dashboard/</a> <a href="{% url 'hr:system_users' %}">Registrants</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div>
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message|safe|escape }}
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message|safe }}
                        </div>
                    {% elif message.tags == 'info' %}
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message|safe|escape }}
                        </div>
                    {% elif message.tags == 'warning' %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message|safe|escape }}
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.id_number|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary" style="background-color: #490ca6; color: #fff;">Submit</button>
                                <a href="{% url 'hr:system_users' %}" class="btn btn-secondary" style="background-color: #490ca6; color: #fff;">Cancel</a>
                            </div>
                        </form>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
{% endblock content %}
