{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18">Kengen</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Vacancy</a></li>
                            <li class="breadcrumb-item active">Jobs</li>
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div>     
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Jobs</h4>
                        <p class="card-subtitle mb-4">All job vacancies</p>

                        <!-- Search Form -->
                       <div class="row-2">
                        <section class="col-md-10 mx-auto shadow-sm " style="background-color: #7266bb; text-align: center; border-radius: 10px; padding: 20px;">
                            <form method="get">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <input type="text" name="search" class="form-control" placeholder="Search By Keyword or Job Title">
                                    </div>
                                    <div class="col-md-3">
                                        <select name="job_discipline" class="form-control">
                                            <option value="">Select Job Function</option>
                                            {% for discipline in job_disciplines %}
                                                <option value="{{ discipline.id }}" {% if selected_job_discipline == discipline.id %}selected{% endif %}>
                                                    {{ discipline.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select name="vacancy_type" class="form-control">
                                            <option value="">Select Job Type</option>
                                            {% for vacancy_type, vacancy_type_display in vacancy_types %}
                                                <option value="{{ vacancy_type }}" {% if selected_vacancy_type == vacancy_type %}selected{% endif %}>
                                                    {{ vacancy_type_display }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                            </section>
                       </div>
                        
                        
                        {% if jobs %}
                            <div class="table-responsive mt-3">
                                <!-- Job Vacancies Table -->
                                <table class="table table-sm table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>Position</th>
                                            <th>Date Open</th>
                                            <th>Date Close</th>
                                            <th>Category</th>
                                            <th>Type</th>
                                            <th>Applications</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Loop through job vacancies -->
                                        {% for job in jobs %}
                                            <tr>
                                                <td>{{ job.title }}</td>
                                                <td>{{ job.date_open }}</td>
                                                <td>{{ job.date_close }}</td>
                                                <td>{{ job.job_discipline }}</td>
                                                <td>{{ job.vacancy_type }}</td>
                                                <td>{{ job.application_count }}</td>
                                                <td>
                                                    <!-- Actions for each job -->
                                                    {% if job.published %}
                                                    <a href="{% url 'hr:publish' job.id %}">
                                                        <i class="fas fa-eye-slash text-danger" title="Unpublish"></i>
                                                    </a>
                                                    {% else %}
                                                    <a href="{% url 'hr:publish' job.id %}">
                                                        <i class="fas fa-eye text-success" title="Publish"></i>
                                                    </a>
                                                    {% endif %}
                                                    <a href="{% url 'hr:edit_job' job.id %}">
                                                        <i class="fas fa-edit text-primary mx-2" title="Edit"></i>
                                                    </a>
                                                    <a href="{% url 'hr:delete_job' job.id %}">
                                                        <i class="fas fa-trash-alt text-danger" title="Delete"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <p class="text-center">No jobs available at the moment.</p>
                        {% endif %}
                        <div class="text-center">
                            <a href="{% url 'hr:create_job' %}" class="btn btn-primary active">Add New</a>
                        </div>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
       <!--end row-->
    </div>
</div>
{% endblock content %}
