{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 100px !important;">
    <div class="col-12 mt-4">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Dashboard/Kengen Staffs</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="{% url 'hr:dashboard' %}">Dashboard/</a> 
                        <a href="{% url 'hr:kgn_staffs' %}">Kengen Staffs</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-4 justify-content-center">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <form method="get" class="mb-3">
                        <div class="input-group">
                            <input type="text" name="search_query" class="form-control" placeholder="Search by Staff No or Name" value="{{ search_query }}">
                            <div class="input-group-append">
                                <button type="submit" class="btn" style="background-color: #490ca6; color: #fff;">Search</button>
                                <a href="{% url 'hr:kgn_staffs' %}" class="btn  ml-2" style="background-color: #fd7e14; color: #fff;">Show All</a>
                            </div>
                        </div>
                    </form>
                    
                    <!-- Table of staff members -->
                    <div class="table-responsive">
                        {% if staff_members %}
                            <table class="table table-sm table-hover mb-0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Staff No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Edit</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for staff in staff_members %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ staff.username }}</td>
                                            <td>{{ staff.resume.full_name }}</td>
                                            <td>{{ staff.email }}</td>
                                            <td><a href="{% url 'hr:edit_staff' staff.id %}"><i class="fas fa-edit"></i></a></td>
                                           
                                            <td>
                                                {% if staff.is_active %}
                                                active
                                                {% else %}
                                                Inactive
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if staff.is_active %}
                                                <a href="{% url 'hr:status' user_id=staff.id %}" class="btn btn-danger text-white">Deactivate</a>
                                            {% else %}
                                                <a href="{% url 'hr:status' user_id=staff.id %}" class="btn btn-success text-white">Activate</a>
                                            {% endif %}
                                            
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination mt-4">
                                <span class="step-links">
                                    {% if staff_members.has_previous %}
                                        <a href="?page=1">&laquo; first</a>
                                        <a href="?page={{ staff_members.previous_page_number }}">previous</a>
                                    {% endif %}
                                    
                                    <span class="current-page">
                                        Page {{ staff_members.number }} of {{ staff_members.paginator.num_pages }}.
                                    </span>
                                    
                                    {% if staff_members.has_next %}
                                        <a href="?page={{ staff_members.next_page_number }}">next</a>
                                        <a href="?page={{ staff_members.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        {% else %}
                            <p>No staff members available.</p>
                        {% endif %}
                        <div class="text-center">
                            <a href="{% url 'users:create_staff' %}" class="btn btn-primary">Add New Staff</a>
                            
                        </div>
                    </div>
                </div>
                <!-- end card-body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
</div>
{% endblock content %}
