{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 100px !important;">
        <div class="col-12 mt-4">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Dashboard/Registrants</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'hr:dashboard' %}">Dashboard/</a> <a href="{% url 'hr:system_users' %}">Registrants</a></li>
                    </ol>
                </div>
                
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="card">
                    <div>
                        {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message|safe|escape }}
                                </div>
                            {% elif message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message|safe }}
                                </div>
                            {% elif message.tags == 'info' %}
                                <div class="alert alert-info alert-dismissible" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message|safe|escape }}
                                </div>
                            {% elif message.tags == 'warning' %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{ message|safe|escape }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <section class="col-md-12 mx-auto shadow-sm text-center border-radius-10 p-4" style="background-color: #7266BB;">
                    <form method="get" action="" class="mt-4 mb-4 d-flex justify-content-center">
                        <input type="text" name="name" placeholder="Name" value="{{ request.GET.name }}" class="form-control mx-2" style="max-width: 200px;">
                        <input type="text" name="email" placeholder="Email" value="{{ request.GET.email }}" class="form-control mx-2" style="max-width: 200px;">
                        <button type="submit" class="btn btn-primary mx-2">Filter</button>
                        <a href="{% url 'hr:system_users' %}" class="btn btn-secondary mx-2">Reset</a>
                    </form>
                    </section>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>ID Number</th>
                                        <th>Gender</th>
                                        <th>Age (years)</th>
                                        <th>Ethnicity</th>
                                        <th>Active</th>
                                        <th>Registered</th>
                                        {% if is_superuser %}
                                        <th>Action</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reg in users %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ reg.first_name }} {{ reg.last_name }}</td>
                                            <td>{% if reg.email %}
                                                {{ reg.email }}
                                                {%else%}
                                                -
                                                {% endif %}
                                            </td>
                                            <td>{% if reg.id_number %}
                                                {{ reg.id_number }}
                                                {% else %}
                                                -
                                                {%endif%}
                                            </td>
                                            <td>{% if reg.resume.gender %}
                                                {{ reg.resume.gender }}
                                                {% else %}
                                                -
                                                {%endif%}
                                            </td>
                                            <td>{% if reg.resume.age %}
                                                {{ reg.resume.age }}
                                                {%else%}
                                                -
                                                {%endif%}
                                            </td>
                                            <td>{% if reg.resume.ethnicity %}
                                                {{ reg.resume.ethnicity }}
                                                {% else %}
                                                -
                                                {% endif %}
                                            </td>
                                            <td>{% if reg.is_active %}Yes{% else %}No{% endif %}</td>
                                            <td>{{ reg.date_joined }}</td>
                                            {% if is_superuser %}
                                            <td>
                                                <a href="{% url 'hr:registrants_edit' user.id %}">
                                                    <i class="fas fa-pencil-alt"></i> Edit
                                                </a>
                                                
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
{% endblock content %}
