{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 100px !important;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="d-flex align-items-center min-vh-100 justify-content-center">
                    <div class="w-100 w-md-75 d-block bg-white shadow-lg rounded my-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <a href="#" class="text-dark font-size-22 font-family-secondary">
                                            <i class="fas fa-user-alt" style="font-size: 50px; color: #703B97;"></i>
                                        </a>
                                    </div>
                                    <h1 class="h5 mb-1 text-center">Change Password</h1>

                                    <div>
                                        {% if messages %}
                                            {% for message in messages %}
                                                {% if message.tags == 'success' %}
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        {{ message|safe|escape }}
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                {% elif message.tags == 'error' %}
                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                        {{ message|safe|escape }}
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                {% elif message.tags == 'info' %}
                                                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                                                        {{ message|safe|escape }}
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                {% elif message.tags == 'warning' %}
                                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                        {{ message|safe|escape }}
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                  
                                    
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form.old_password|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form.new_password1|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form.new_password2|as_crispy_field }}
                                        </div>
                                    </div>
                                    
                                    <div class="form-group text-center mt-2">
                                        <button class="btn btn-primary" type="submit">Change Password</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

