{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kengen Careers Portal</title>
    <link rel="shortcut icon" href="{% static 'dashboard/images/icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9590b3c858.js" crossorigin="anonymous"></script>
    <script src="{% static 'dashboard/css/helpers.js' %}"></script>
    <style>
    
        #alert-container {
            position: fixed;
            top: 50px; 
            right: 10px; 
            z-index: 9999; 
        }

        .alert {
          
            margin-bottom: 10px;
           
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          
            padding: 10px;
        }
        </style>
  </head>
  <body>
    {% include 'main/includes/navbar.html' %}
    <!-- {% include '../main/includes/messaging.html' %}
     -->
    {% block content %}
    
    {% endblock content %}
    {% include '../main/includes/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-Yv
    pcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


  <script>
        
        document.querySelectorAll('.toggle-password').forEach(function(icon) {
            icon.addEventListener('click', function() {
                var input = icon.closest('.input-group').querySelector('input');
                if (input.type === 'password') {
                    input.type = 'text';
                } else {
                    input.type = 'password';
                }
            });
        });
    </script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var currentYear = new Date().getFullYear();
        document.getElementById('current-year').textContent = currentYear;
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        
        var jsonData = JSON.parse('{{ job_disciplines_with_counts_json|escapejs }}');
    
       
        var labels = jsonData.map(function(item) {
            return item.name;
        });
    
        var dataValues = jsonData.map(function(item) {
            return item.vacancy_count;
        });
    
       
        var colors = labels.map(function() {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        });
    
        
        ctx = document.getElementById("vacancyChart").getContext("2d");
        var vacancyChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: labels,
                datasets: [{
                    label: "Vacancies created",
                    data: dataValues,
                    backgroundColor: colors,
                }],
            },
            options: {
                plugins: {
                    datalabels: {
                        color: 'black', 
                        anchor: 'end', 
                        align: 'top', 
                        formatter: function(value) {
                            return value; 
                        },
                    },
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        },
                    }],
                },
            },
        });
    });
    </script>

<script type="text/javascript">
    function confirmDeletion(link) {
        if (confirm("Are you sure you want to Proceed with the Selected Action")) {
           
            return true;
        } else {
           
            return false;
        }
    }
</script>


   
<script>
   
    var pieChartData = JSON.parse('{{ pie_chart_data_json|escapejs }}');

    
    var labels = ['Open Vacancies', 'Closed Vacancies'];
    var dataValues = [pieChartData.open_vacancy_count, pieChartData.closed_vacancy_count];

    
    var colors = ['#33FF45', '#FF5733'];

    
    var ctx = document.getElementById('vacancyPieChart').getContext('2d');
    var vacancyPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                data: dataValues,
                backgroundColor: colors,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right',
            },
            title: {
                display: true,
                text: 'Open and Closed Vacancies',
                position: 'bottom',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    display: true, 
                    color: 'white', 
                    font: {
                        size: 14 
                    },
                    formatter: function(value, context) {
                        return value + ' vacancies'; 
                    }
                }
            },
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var data = {{ data_json|safe }};
        var ctx = document.getElementById("barChart").getContext("2d");

        new Chart(ctx, {
            type: "bar",
            data: {
                labels: data.labels,
                datasets: [
                    {
                        label: "Counts",
                        data: data.data,
                        backgroundColor: [
                            "rgba(255, 99, 132, 0.2)",
                            "rgba(54, 162, 235, 0.2)",
                            "rgba(255, 206, 86, 0.2)",
                        ],
                        borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                        ],
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
            },
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var data = {{ data_json|safe }};
        var ctx = document.getElementById("barChartv").getContext("2d");

        new Chart(ctx, {
            type: "bar",
            data: {
                labels: data.vacancy_data.map(item => item.vacancy_title),
                datasets: [
                    {
                        label: "Application Count",
                        data: data.vacancy_data.map(item => item.application_count),
                        backgroundColor: "rgba(54, 162, 235, 0.2)",
                        borderColor: "rgba(54, 162, 235, 1)",
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: "Application Count",
                        },
                    },
                    x: {
                        title: {
                            display: true,
                            text: "Vacancy",
                        },
                    },
                },
            },
        });
    });
</script>

<script>
    
    var graphData = {{ graph_data_json|safe }};

    
    var ctx = document.getElementById('barGraphs').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: graphData.labels,
            datasets: [{
                label: 'Counts',
                data: graphData.data,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Number of Applicants'
                    }
                }
            }
        }
    });
</script>
<script>
    CKEDITOR.replace('terms_text');
</script>

<script>
    $(document).ready(function () {
        // Check the initial value of the country of residence field
        if ($("#id_country_of_residence").val() === "KE") {
            $("#county_of_birth-field").show();
            $("#county_of_residence-field").show();
        } else {
            $("#county_of_birth-field").hide();
            $("#county_of_residence-field").hide();
        }

        // Add change event listener to the country of residence field
        $("#id_country_of_residence").change(function () {
            console.log("Selected country: " + $(this).val());

            // Show or hide the county of birth field based on the selected country
            if ($(this).val() === "KE") {
                $("#county_of_birth-field").show();
                $("#county_of_residence-field").show();
            } else {
                $("#county_of_birth-field").hide();
                $("#county_of_residence-field").hide();
            }
        });
    });
</script>



<script>
    $(document).ready(function () {
        // Initial check to hide the disability number field if 'No' is selected
        if ($('#id_disability').val() !== 'True') {
            $('#disability-number-field').hide();
        }

        // Change event to show/hide the disability number field based on the selection
        $('#id_disability').change(function () {
            if ($(this).val() === 'True') {
                $('#disability-number-field').show();
            } else {
                $('#disability-number-field').hide();
            }
        });
    });
</script>




<script>
    function showSection(sectionId, menuLink) {
        var sections = document.getElementsByClassName('resume-section');
        for (var i = 0; i < sections.length; i++) {
            sections[i].style.display = 'none';
        }
        var section = document.getElementById(sectionId);
        section.style.display = 'block';

        var menuItems = document.querySelectorAll('.resume-menu a');
        for (var i = 0; i < menuItems.length; i++) {
            menuItems[i].classList.remove('active');
        }

        menuLink.classList.add('active');
    }

    
    document.addEventListener("DOMContentLoaded", function () {
        showSection('review', document.querySelector('.resume-menu a'));
    });
</script>



<script>
    $(document).ready(function () {
        
        $('#confirmDeleteModal').on('show.bs.modal', function (e) {
            const applicationId = $(e.relatedTarget).data('application-id');
            const deleteUrl = "{% url 'vacancies:delete_application' 0 %}".replace('0', applicationId);
            $('#confirmDeleteButton').attr('href', deleteUrl);
        });
    });
</script>

<script>
    $(document).ready(function () {
        
        $('#confirmResubmitModal').on('show.bs.modal', function (e) {
            const applicationId = $(e.relatedTarget).data('application-id');
            const recallUrl = "{% url 'vacancies:recall_application' 0 %}".replace('0', applicationId);
            $('#confirmResubmitButton').attr('href', recallUrl);
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("bx-hide");
                $('#show_hide_password i').removeClass("bx-show");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("bx-hide");
                $('#show_hide_password i').addClass("bx-show");
            }
        });
    });
</script>

<!-- Check if there is an error message and display a Bootstrap alert -->
<script>
    $(document).ready(function(){
        {% if error_message %}
            var errorMessage = '{{ error_message|escapejs }}';
            var alertHtml = '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                errorMessage +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                '</button>' +
                            '</div>';
            $('body').prepend(alertHtml);
        {% endif %}
    });
</script>

<script>
    tinymce.init({
       selector: '#mce1',
       theme: 'silver',
       force_br_newlines : false,
       force_p_newlines : false,
       forced_root_block : '',
       width: '100%',	
     
       plugins: [
         'advlist autolink link lists  print preview hr  spellchecker',
         'searchreplace wordcount visualblocks visualchars  fullscreen',
         'save contextmenu directionality emoticons paste textcolor'
       ],
       toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | print preview  fullpage | forecolor backcolor emoticons'
     }); 

     tinymce.init({
       selector: '#mce2',
       theme: 'silver',
       force_br_newlines : false,
       force_p_newlines : false,
       forced_root_block : '',
       width: '100%',	
     
       plugins: [
         'advlist autolink link lists  print preview hr  spellchecker',
         'searchreplace wordcount visualblocks visualchars  fullscreen',
         'save contextmenu directionality emoticons paste textcolor'
       ],
       toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | print preview  fullpage | forecolor backcolor emoticons'
     }); 
       </script>


  </body>
</html>