{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% include '../main/includes/hero.html' %}
<div class="page-content">
    <div class="container-fluid">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              How to Apply
            </a>
            <a href="#" class="list-group-item list-group-item-action">Register</a>
            <a href="#" class="list-group-item list-group-item-action">Populate to build your Resume</a>
            <a href="#" class="list-group-item list-group-item-action">Apply for open Vacancies</a>
          </div>
    </div>
</div>
{% endblock content %}
