{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-content" style="margin-bottom: 200px; margin-top: 100px !important;">
    <div class="container">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active border-0" aria-current="true" style="background-color: #4F16A7 !important;">
              How to Apply
            </a>
            <a href="#" class="list-group-item list-group-item-action">Register</a>
            <a href="#" class="list-group-item list-group-item-action">Populate to build your Resume</a>
            <a href="#" class="list-group-item list-group-item-action">Apply for open Vacancies</a>
          </div>
    </div>
</div>
{% endblock content %}
