{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="carousel-container pt-5">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            {% for job_type in job_types %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img class="d-block w-100" src="{{ job_type.banner.url }}" alt="{{ job_type.name }} Banner">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="text-white">{{ job_type.name }}</h3>
                        <p>{{ job_type.description }}</p>
                        <a href="{% url 'main:vacs' pk=job_type.pk %}" class="btn btn-primary btn-lg shadow-sm mb-0 carousel-btn">Explore Opportunities</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="container mt-5">
    <div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message|safe|escape }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message|safe|escape }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif message.tags == 'info' %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message|safe|escape }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif message.tags == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message|safe|escape }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
  
    <div class="row">
        {% for job_type in job_types %}
            <div class="col-md-4 mb-4">
                <div class="card border-0 border-bottom">
                    <a href="{% url 'main:vacs' pk=job_type.pk %}">
                        <img class="card-img-top rounded-img shadow-sm" src="{{ job_type.icon.url }}" alt="{{ job_type.name }} Icon">
                    </a>
                    <div class="card-body text-start">
                        <h5 class="card-title">{{ job_type.name }}</h5>
                        <p class="card-text">{{ job_type.description }}</p>
                        <a href="{% url 'main:vacs' pk=job_type.pk %}" class="btn btn-rounded shadow-sm mb-0 position-relative" style="background-color: #fd7e14; border-color: #fd7e14; padding-right: 2.5rem;">
                            Explore
                            <span class="btn-icon-circle">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
