{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="carousel-container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">

            {% for job_type in job_types %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div style="position: relative;">
                        <img class="d-block img-fluid" src="{{ job_type.banner.url }}" alt="{{ job_type.name }} Banner" style="width: 100%;">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1;"></div>
                    </div>
                    <div class="carousel-caption mt-md-4 d-none d-md-block">
                        <h3 class="text-white">{{ job_type.name }}</h3>
                        <p>{{ job_type.description }}</p>
                        <a href="{% url 'vacancies:jobs' %}" class="btn btn-primary btn-rounded active btn-lg shadow-sm mb-0">
                            Explore Opportunities
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>



<div id="layout-wrapper">
    <div class="main-content">
        <div class="container-fluid">
           <div class="card">
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="card-deck-wrapper">
                            <div class="card-deck">
                                {% for job_type in job_types %}
                                    <a href="">
                                        <div class="card mb-4 shadow-sm border-0">
                                            <img class="card-img-top img-fluid" src="{{ job_type.icon.url }}" alt="{{ job_type.name }} Icon">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">{{ job_type.name }}</h5>
                                                <p class="card-text text-center mb-3">{{ job_type.description }}</p>
                                                <p class="card-text text-center">
                                                    <a href="" class="btn btn-primary btn-rounded active btn-lg shadow-sm">
                                                        Explore Opportunities
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>


{% endblock content %}
