{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="custom-carousel">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-image-container">
                        <img class="d-block img-fluid" src="{{ job_type.banner.url }}" alt="{{ job_type.name }} Banner">
                        <div class="carousel-overlay"></div>
                    </div>
                    <div class="carousel-caption mt-md-4 d-none d-md-block">
                        <h3 class="text-white">{{ job_type.name }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container-fluid">
            <div class="card p-3 border-0">
                <h2 class="card-title text-center" style="color: #FD7E14;">Advertised Vacancies - {{ job_type.name }}</h2>

                <section class="search-section col-md-10 mx-auto shadow-sm">
                    <form method="get">
                        <div class="row">
                            <div class="col-md-4 mb-2">
                                <input type="text" name="search" class="form-control" placeholder="Search By Keyword or Job Title">
                            </div>
                            <div class="col-md-4 mb-2">
                                <select name="vacancy_type" class="form-control">
                                    <option value="" class="text-center">Select Job Function</option>
                                    {% for discipline in job_disciplines %}
                                        <option value="{{ discipline.name }}" {% if selected_job_type == discipline.name %}selected{% endif %}>
                                            {{ discipline.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 d-flex">
                                <button type="submit" class="btn btn-primary text-white py-1.8 px-5 w-50 me-2">Search</button>
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary text-white py-1.8 px-5 w-50">Clear</a>
                            </div>
                        </div>
                    </form>
                </section>

                {% if jobs %}
                <div class="job-list col-xl-12 mt-4">
                    <div class="row">
                        {% for job in jobs %}
                            <div class="col-md-6 mb-4">
                                <a href="{% url 'main:job_detail' job.id %}" class="job-item-link">
                                    <div class="job-card p-3 border-0 rounded shadow-sm">
                                        <h4 class="job-title">{{ job.title }} - {{ job.ref }}</h4>
                                        <ul class="list-unstyled">
                                            <li class="text-muted">Min Education Level: {{ job.min_educational_level }}</li>
                                            <li class="text-muted">Date Open: {{ job.date_open }}</li>
                                            <li class="text-muted">Date Close: {{ job.date_close }}</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <section class="no-opportunities col-md-6 mx-auto my-2 shadow-sm text-center rounded d-flex align-items-center">
                    <p class="text-white mx-auto mt-2 px-4">There are no Advertised Vacancies</p>
                </section>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
