{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div style="width: 100%;">
                <div style="border: 1px solid #dee2e6; border-radius: 8px; padding: 15px; border-left: 4px solid #4F16A7;">
                    <h4 style="margin-top: 3px;">Update Executive summery</h4>
                </div>
            </div>    
           
        </div>


        <div class="row mt-4">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="{{ form.text.id_for_label }}" class="col-form-label">Executive Summary</label>
                                    {{ form.career_objective|as_crispy_field }}
                                </div>
                              
                                <div class="text-center">
                                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary active">Back</a>
                                    <button type="submit" class="btn btn-primary active">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}
