{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="carousel-container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            {% for job_type in job_types %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div style="position: relative;">
                        <img class="d-block img-fluid" src="{{ job_type.banner.url }}" alt="{{ job_type.name }} Banner" style="width: 100%;">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1;"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container-fluid">
        <div class="row mt-4">
            <div style="width: 100%;">
                <div style="border: 1px solid #dee2e6; border-radius: 8px; padding: 15px; border-left: 4px solid #4F16A7;">
                    <h4 style="margin-top: 3px;">Update your Resume to apply</h4>
                    <p style="margin-bottom: 4px;">Complete Your Resume to Apply</p>
                </div>
            </div>    
        </div>
      
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="mb-4 text-center" style="color: #FD7E14;">Referee Information</h2>
                <div>
                    {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                               
                                {{ message|safe|escape }}
                            </div>
                        {% elif message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                               
                                {{ message|safe }}
                            </div>
                        {% elif message.tags == 'info' %}
                            <div class="alert alert-info alert-dismissible" role="alert">
                               
                                {{ message|safe|escape }}
                            </div>
                     
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message|safe|escape }}
                </div>
            {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% if refs %}
        <div class="table-responsive">
            <table class="table mb-0">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Organization</th>
                        <th>Designation</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="border-0">
                    {% for referee in refs %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ referee.full_name }}</td>
                        <td>{{ referee.organization }}</td>
                        <td>{{ referee.designation }}</td>
                        <td>{{ referee.phone }}</td>
                        <td>{{ referee.email }}</td>
                        <td>
                            <a href="{% url 'main:update_referee' instance_id=referee.pk %}">
                                <i class="fas fa-edit"></i> Update
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <p class="text-center">No Referee Details Found</p>
        {% endif %}
        
            

            <div class="text-center mt-4">
                {% if ms %}
                <a href="{% url 'main:wx' %}" class="btn btn-primary active ml-2">Back</a>
                {% else %}
                    <a href="{% url 'main:work_experience' %}" class="btn btn-primary active ml-2">Back</a>
                {% endif %}
                <a href="{% url 'main:referees' %}" class="btn btn-primary active ml-2">Add New</a>
                {% if refs %}
                    <a href="{% url 'main:refs' %}" class="btn btn-primary active ml-2">Next</a>
                {% else %}
                    <a href="{% url 'main:referees' %}" class="btn btn-primary active ml-2">Next</a>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
