{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row mt-4">
            <div style="width: 100%;">
                <div style="border: 1px solid #dee2e6; border-radius: 8px; padding: 15px; border-left: 4px solid #4F16A7;">
                    <h4 style="margin-top: 3px;">Your Resume</h4>
                    {% if all_fields %}
                    <p style="margin-bottom: 4px;" class="text-success"> Your Resume is Complete</p>
                    {% else %}
                    <p style="margin-bottom: 4px;" class="text-warning">You are Missing some parts, Its Incomplete</p>
                    {% endif %}
                </div>
            </div>    
        </div>
      
        <div class="card mt-4">
            <div class="card-body">
                <a href="{% url 'main:bio_info' %}">
                    <h2 class="mb-4 text-center" style="color: #FD7E14;">Bio Data</h2>
                </a>
                {% if resume %}
                <div class="row col-xl-12">
                    <div class="col-md-6">
                        <p class="card-title"><strong>Full Name:</strong> {{ resume.full_name }}</p>
                        <p class="card-title"><strong>Email:</strong> {{ resume.email_address }}</p>
                        <p class="card-title"><strong>Phone:</strong> {{ resume.phone }}</p>
                       
                        
                        <p class="card-title"><strong>Ethnicity:</strong> {{ resume.ethnicity }}</p>
                        <p class="card-title"><strong>Religion:</strong> {{ resume.religion }}</p>
                        <p class="card-title"><strong>Marital Status:</strong> {{ resume.marital_status }}</p>
                        <p class="card-title"><strong>Disability:</strong> {{ resume.disability }}</p>
                        <p class="card-title"><strong>Disability Number:</strong> {{ resume.disability_number }}</p>
                       
                    </div>
                    <div class="col-md-6">
                        
                                <p class="card-title"><strong>Date of Birth:</strong> {{ resume.dob }}</p>
                                <p class="card-title"><strong>Country of Birth:</strong> {{ resume.get_country_of_birth_display }}</p>
                                <p class="card-title"><strong>Country of Residence:</strong> {{ resume.get_country_of_residence_display }}</p>
                                {% if resume.county %}
                                <p class="card-title"><strong>County:</strong> {{ resume.county }}</p>
                                {%endif%}
                                <p class="card-title"><strong>Age:</strong> {{ resume.age }} Years</p>
                                <p class="card-title"><strong>Gender:</strong> {{ resume.gender }}</p>
                          
                    </div>
                </div>
                
               
               
                {% else %}
                <p class="text-center">Information Not Updated</p>
                {% endif %}
                {% if be %}
                <a href="{% url 'main:high_school' %}">
                    <h2 class="mb-4 text-center" style="color: #FD7E14;">High school</h2>
                </a>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Name of the School</th>
                                <th>Certification</th>
                                <th>Date Started</th>
                                <th>Date Ended</th>
                                <th>Grade Attained</th>
                                <th>Certificate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="border-0">
                            {% for education in be %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ education.name_of_the_school }}</td>
                                <td>{{ education.get_certification_display }}</td>
                                <td>{{ education.date_started }}</td>
                                <td>{{ education.date_ended }}</td>
                                <td>{{ education.grade_attained }}</td>
                                <td><a href="{{ education.certificate.url }}" target="_blank">View</a></td>
                                <td>
                                    <a href="{% url 'main:update_basic_education' instance_id=education.pk %}">
                                        <i class="fas fa-edit ml-2"></i>
                                    </a>
                                    <a href="{% url 'main:delete_basic_education' instance_id=education.pk %}">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h2 class="mb-4 text-center" style="color: #FD7E14;">You are missing Basic Education information</h2>
            {% endif %}
            {% if he %}
    <a href="{% url 'main:college' %}">
        <h2 class="mb-4 text-center" style="color: #FD7E14;">Higher Educations</h2>
    </a>
    <div class="table-responsive">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Institution Name</th>
                    <th>Certification</th>
                    <th>Course Undertaken</th>
                    <th>Date Started</th>
                    <th>Date Ended</th>
                    <th>Grade</th>
                    <th>Certificate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="border-0">
                {% for education in he %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ education.institution_name }}</td>
                    <td>{{ education.certifications }}</td>
                    <td>{{ education.course_undertaken }}</td>
                    <td>{{ education.date_started }}</td>
                    <td>{{ education.date_ended }}</td>
                    <td>{{ education.grade }}</td>
                    <td><a href="{{ education.certificate.url }}" target="_blank">View</a></td>
                    <td>
                        <a href="{% url 'main:update_further_studies' instance_id=education.pk %}">
                            <i class="fas fa-edit ml-2"></i>
                        </a>
                        <a href="{% url 'main:delete_further_studies' instance_id=education.pk %}">
                            <i class="fas fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <h2 class="mb-4 text-center" style="color: #FD7E14;">You are missing Higher Education information</h2>
{% endif %}
{% if certs %}
    <a href="{% url 'main:certs' %}" target="_blank">
        <h2 class="mb-4 text-center" style="color: #FD7E14;">Certifications</h2>
    </a>

   <div class="table-responsive">
    <div class="container">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Certification</th>
                    <th scope="col">Certifying Body</th>
                    <th scope="col">Date Attained</th>
                    <th scope="col">Certificate</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
                {% for certification in certs %}
                <tr>
                    <td>{{ certification.name }}</td>
                    <td>{{ certification.certifying_body }}</td>
                    <td>{{ certification.date_attained }}</td>
                    <td><a href="{{ certification.certificate.url }}" target="_blank">View</a></td>
                    <td>
                        <a href="{% url 'main:update_certification' instance_id=certification.pk %}">
                            <i class="fas fa-edit ml-2"></i>
                        </a>
                        <a href="{% url 'main:delete_certification' instance_id=certification.pk %}">
                            <i class="fas fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   </div>
{% else %}
    <h2 class="mb-4 text-center" style="color: #FD7E14;">No Certifications Found</h2>
{% endif %}

{% if ms %}
    <a href="{% url 'main:memberships' %}" target="_blank">
        <h2 class="mb-4 text-center" style="color: #FD7E14;">Memberships</h2>
    </a>

    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Membership Title</th>
                        <th scope="col">Membership Body</th>
                        <th scope="col">Date Joined</th>
                        <th scope="col">Certificate</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for membership in ms %}
                    <tr>
                        <td>{{ membership.membership_title }}</td>
                        <td>{{ membership.membership_body }}</td>
                        <td>{{ membership.date_joined }}</td>
                        <td><a href="{{ membership.certificate.url }}" target="_blank">View</a></td>
                        <td>
                            <a href="{% url 'main:update_membership' instance_id=membership.pk %}">
                                <i class="fas fa-edit ml-2"></i>
                            </a>
                            <a href="{% url 'main:delete_membership' instance_id=membership.pk %}">
                                <i class="fas fa-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <h2 class="mb-4 text-center" style="color: #FD7E14;">No Memberships Found</h2>
{% endif %}



{% if wx %}
    <a href="{% url 'main:experience' %}">
        <h2 class="mb-4 text-center" style="color: #FD7E14;">Work Experience</h2>
    </a>

    <div class="container">
        {% for experience in wx %}
        <div class="row mt-4">
            <div class="col-xl-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title">Company: {{ experience.company_name }}</h5>
                                <p class="card-text">Position: {{ experience.position }}</p>
                                <p class="card-text">Period: {{ experience.date_started }} - {% if experience.date_ended %}{{ experience.date_ended }}{% else %}Current Job{% endif %}</p>
                            </div>
                            <div class="col-md-6">
                                <h5 class="card-title">Responsibilities</h5>
                                <p class="card-title">{{ experience.responsibilities }}</p>
                               
                            </div>
                        </div>
            </div>
        </div>
        
        {% endfor %}
        
       
    </div>
{% else %}
    <h2 class="mb-4 text-center" style="color: #FD7E14;">You are missing Work Experience Details</h2>
{% endif %}
{% if refs %}
    <a href="{% url 'main:refs' %}" target="_blank">
        <h2 class="mb-4 text-center" style="color: #FD7E14;">Referees</h2>
    </a>

    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Organization</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for referee in refs %}
                    <tr>
                        <td>{{ referee.full_name }}</td>
                        <td>{{ referee.organization }}</td>
                        <td>{{ referee.designation }}</td>
                        <td>{{ referee.phone }}</td>
                        <td>{{ referee.email }}</td>
                        <td>
                            <a href="{% url 'main:update_referee' instance_id=referee.pk %}">
                                <i class="fas fa-edit ml-2"></i>
                            </a>
                            <a href="{% url 'main:delete_referee' instance_id=referee.pk %}">
                                <i class="fas fa-trash text-danger"></i>
                            </a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <h2 class="mb-4 text-center" style="color: #FD7E14;">No Referees Found</h2>
{% endif %}



            </div>
        </div>

    </div>
</div>

{% endblock content %}
