{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 100px !important;">
        {% if user.is_authenticated %}
        <div class="container mt-4">
            <div class="row justify-content-center mb-3">
                <div class="card border-0">
                    <div class="card-header border-0">
                        <ul class="nav nav-tabs card-header-tabs custom-tabs mt-2 mb-2">
                            {% if user.access_level != 5 %}
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'bio_info' %}active{% endif %}" href="{% url 'main:bio_info' %}">Bio Information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'high_school' %}active{% endif %}" href="{% url 'main:high_school' %}">Basic Education</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'college' %}active{% endif %}" href="{% url 'main:college' %}">College/University</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'certs' %}active{% endif %}" href="{% url 'main:certs' %}">Certifications</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'memberships' %}active{% endif %}" href="{% url 'main:memberships' %}">Memberships</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'experience' %}active{% endif %}" href="{% url 'main:experience' %}">Work Experience</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'refs' %}active{% endif %}" href="{% url 'main:refs' %}">Referees</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'resume' %}active{% endif %}" href="{% url 'main:resume' %}">Review</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'staff_profile' %}active{% endif %}" href="{% url 'main:staff_profile' %}">Executive Summary</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'high_school' %}active{% endif %}" href="{% url 'main:high_school' %}">Basic Education</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'college' %}active{% endif %}" href="{% url 'main:college' %}">College/University</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'certs' %}active{% endif %}" href="{% url 'main:certs' %}">Certifications</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'memberships' %}active{% endif %}" href="{% url 'main:memberships' %}">Memberships</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'experience' %}active{% endif %}" href="{% url 'main:experience' %}">Work Experience</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'refs' %}active{% endif %}" href="{% url 'main:refs' %}">Referees</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if request.resolver_match.url_name == 'resume' %}active{% endif %}" href="{% url 'main:resume' %}">Review</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        <div class="row mt-4">
            <div style="width: 100%;">
                <div style="border: 1px solid #dee2e6; border-radius: 8px; padding: 15px; border-left: 4px solid #4F16A7;">
                    <h4 style="margin-top: 3px;">Executive Summary</h4>
                {% if all_fields %}
                    <p style="margin-bottom: 4px;" class="text-success">Your Executive Summary is Updated</p>
                    {% else %}
                    <p style="margin-bottom: 4px;" class="text-warning">Your Executive Summary is Incomplete</p>
                    {% endif %}
                </div>
            </div>    
        </div>
      
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="mb-4 text-center" style="color: #FD7E14;">Executive Summary</h2>
                <div>
                    {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                               
                                {{ message|safe|escape }}
                            </div>
                        {% elif message.tags == 'error' %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                               
                                {{ message|safe }}
                            </div>
                        {% elif message.tags == 'info' %}
                            <div class="alert alert-info alert-dismissible" role="alert">
                               
                                {{ message|safe|escape }}
                            </div>
                     
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message|safe|escape }}
                </div>
            {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% if executive_summery %}
       {% for es in executive_summery %}
       <div class="body-text">
        <p>{{ es.career_objective|safe }}</p>
    </div>
    {% endfor %}
        {% else %}
            <p class="text-center">You have not Updated your Executive Summery</p>
        {% endif %}
        
            

            <div class="text-center mt-4">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary active">Back</a>
                {% if executive_summery %}
                <a href="{% url 'main:update_career_objective' %}" class="btn btn-primary active ml-2">Update</a>
                {% else %}
                <a href="{% url 'main:career_objective' %}" class="btn btn-primary active ml-2">Add New</a>
                {%endif%}
              
                    <a href="{% url 'main:high_school' %}" class="btn btn-primary active ml-2">Next</a>
               
            </div>
            </div>
        </div>
    </div>


{% endblock content %}
