{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="carousel-container" style="margin-top: 80px !important;">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">

            {% for job_type in job_types %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div style="position: relative;">
                        <img class="d-block img-fluid" src="{{ job_type.banner.url }}" alt="{{ job_type.name }} Banner" style="width: 100%;">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1;"></div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
<div class="page-content" style="margin-bottom: 100px !important;">
    <div class="container">
        <h2>Terms and Conditions</h2>
        {% if terms %}
            {{ terms.text|safe }}
        {% else %}
            <p>Terms and Conditions are currently not available. Please check back later for updates.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
