{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="carousel-container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">

            {% for job_type in job_types %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div style="position: relative;">
                        <img class="d-block img-fluid" src="{{ job_type.banner.url }}" alt="{{ job_type.name }} Banner" style="width: 100%;">
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1;"></div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div style="width: 100%;">
                <div style="border: 1px solid #dee2e6; border-radius: 8px; padding: 15px; border-left: 4px solid #4F16A7;">
                    <h4 style="margin-top: 3px;">Update your Resume to apply</h4>
                    <p style="margin-bottom: 4px;">Update your Details on the Resume from 1-7 to for you to be able to apply for opportunities</p>
                </div>
            </div>    
           
        </div>

       <div class="card mt-4">
        <div class="card-body">
            <h2 class="mt-4 mb-4 text-center" style="color: #FD7E14;">Update Work Experience</h2>
            <div>
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                           
                            {{ message|safe|escape }}
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                           
                            {{ message|safe }}
                        </div>
                    {% elif message.tags == 'info' %}
                        <div class="alert alert-info alert-dismissible" role="alert">
                           
                            {{ message|safe|escape }}
                        </div>
                 
            <div class="alert alert-warning alert-dismissible" role="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe|escape }}
            </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.company_name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.position|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.date_started|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.date_ended|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.company_address|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.company_phone|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.responsibilities|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.currently_working|as_crispy_field }}
                    </div>
                </div>
                <div class="text-center mt-4">
              
                    {% if ms %}
                    <a href="{% url 'main:memberships' %}" class="btn btn-primary active ml-2">Back</a>
                {% else %}
                    <a href="{% url 'main:membership' %}" class="btn btn-primary active ml-2">Back</a>
                {% endif %}
                    
                     <button type="submit" class="btn btn-primary active ml-2">Submit</button>
                     {% if refs %}
                         <a href="{% url 'main:refs' %}" class="btn btn-primary active ml-2">Next</a>
                     {% else %}
                         <a href="{% url 'main:referees' %}" class="btn btn-primary active ml-2">Next</a>
                     {% endif %}
                    </div>
            </form>
        </div>
       </div>
    </div>
</div>
{% endblock content %}
