{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% include '../main/includes/hero.html' %}
<div class="page-content">
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Oops! There are errors in the form:</strong>
                <ul>
                    {% for field_errors in form.errors.values %}
                        {% for error in field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.company_name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.position|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.date_started|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.date_ended|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.company_address|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.company_phone|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.responsibilities|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.currently_working|as_crispy_field }}
                </div>
            </div>
           <div class="text-center">
            <button type="submit" class="btn btn-primary active">Submit</button>
           </div>
        </form>
    </div>
</div>
{% endblock content %}
