{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container" style="margin-top: 100px !important;">
        <div class="row">
            <div style="width: 100%;">
                <div style="border: 1px solid #dee2e6; border-radius: 8px; padding: 15px; border-left: 4px solid #4F16A7;">
                    <h4 style="margin-top: 3px;">Update your Resume to apply</h4>
                    <p style="margin-bottom: 4px;">Complete You Resume to apply</p>
                </div>
            </div>    
           
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="mt-4 mb-4 text-center" style="color: #FD7E14;">
                    {% if we %}
                    Update Work Experience
                    {% else %}
                    Add Work Experience
                    {% endif %}
                </h2>
        <div>
            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                       
                        {{ message|safe|escape }}
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                       
                        {{ message|safe }}
                    </div>
                {% elif message.tags == 'info' %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                       
                        {{ message|safe|escape }}
                    </div>
             
        <div class="alert alert-warning alert-dismissible" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message|safe|escape }}
        </div>
    {% endif %}
        {% endfor %}
    {% endif %}
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Oops! There are errors in the form:</strong>
                <ul>
                    {% for field_errors in form.errors.values %}
                        {% for error in field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.company_name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.position|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.date_started|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.date_ended|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.company_address|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.company_phone|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form.responsibilities|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.currently_working|as_crispy_field }}
                </div>
            </div>
          
            <div class="text-center mt-4">
              
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary active">Back</a>
                 
                  <button type="submit" class="btn btn-primary active ml-2">Submit</button>
                
                 </div>
        </form>
            </div>
        </div>
    </div>
{% endblock content %}
