<div style="background-color: #7266bb; color: #fff; padding: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="text-center text-md-center">
                    <h4 class="text-white">Location</h4>
                    <p>KenGen Pension Plaza II, Kolobot Road, Parklands</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="text-center text-md-center">
                    <h4 class="text-white">Address</h4>
                    <p>P.o. Box 47936, 00100 Nairobi</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="text-center text-md-center">
                    <h4 class="text-white">Contacts</h4>
                    <p>+254 203666000<br>+254 711036000 / +254 732116000</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #fd7e14; color: #fff; padding: 10px; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>&copy; <span id="current-year"></span> KenGen Careers Portal. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
