{% load static %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{% static 'dashboard/images/icon.png' %}" alt="Logo" class="d-inline-block align-top" style="max-height: 60px;">
                <span class="navbar-text mx-auto" style="font-size: 1.4rem;">Careers Portal</span>
            </a>
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated and user.access_level == 5 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'vacancies:internal' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:staff_profile' %}">Resume</a>
                    </li>
                    {% endif %}
                       
                    {% if user.is_authenticated %}
                    {% if user.access_level != 5 %}
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                Home
                            </a>
                        </li>
                    {% endif %}
                   {% endif %}
                    
                   {% if user.is_authenticated %}
                   {% if user.access_level != 5 %}
                       <li class="nav-item">
                           <a class="nav-link" href="{% url 'main:bio_info' %}">
                               Resume
                           </a>
                       </li>
                   {% endif %}
               {% endif %}
               {% if user.is_authenticated %}
               {% if user.access_level != 5 %}
                   <li class="nav-item">
                       <a class="nav-link" href="https://www.kengen.co.ke/index.php/our-company/who-we-are.html" target="_blank">
                           Why Kengen
                       </a>
                   </li>
               {% endif %}
           {% endif %}

               {% if user.is_authenticated %}
               <li class="nav-item">
                   <a class="nav-link" href="{% url 'main:terms' %}">
                       T&Cs
                   </a>
               </li>
               {%  endif %}

             <li class="nav-item">
               <a class="nav-link" href="{% url 'main:how' %}">
               How to apply
               </a>
           </li>

           <li class="nav-item">
               <a class="nav-link" href="https://www.kengen.co.ke/index.php/information-center/faqs.html" target="_blank">
                   FAQS
               </a>
           </li>
           
           {% if user.is_authenticated %}
           <li class="nav-item">
               <a class="nav-link" href="{% url 'vacancies:applications' %}">
               My Applications
               </a>
           </li>
           {% endif %}
                   {% if user.is_authenticated %}
                   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user me-2"></i> 
                        {{ user.username }}
                       
                    </a>  
                                      
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item active" href="#">
                                <div>
                                    {% if user.is_superuser %}
                                        
                                    <i class="fas fa-user me-2"></i>     Superuser
                                        
                                    {% else %}
                                       
                                    <i class="fas fa-user me-2"></i>  {{ user.access_level_display }}
                                     
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'users:profile'  user.id %}">Profile</a></li>
                        {% if user.is_authenticated and user.is_superuser or user.function == 1 or user.function == 2 or user.function == 3 or user.function == 4 or user.function == 5 or user.function == 6 or user.function == 7 or user.function == 8 or user.function == 9 or user.function == 10 %}
                        <li><a class="dropdown-item" href="{% url 'hr:dashboard' %}">Hr Dashboard</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
                    </ul>
                </li>
                  
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Sign-in/Register</a>
                </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
