{% extends 'main/base.html' %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="d-flex align-items-center min-vh-100 justify-content-center">
                    <div class="text-center">
                        <h1>Something went Wrong</h1>
                        <p>Oops! Something went wrong on our end. Hold on as we fix it as soon as possible. You can also Refresh and Try Again</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
